.dub
.vscode
*.asm
*.h
dub.selections.json
plot_scipt.py
*.png
*.o
wopwop_cases
tilt_rotor*
libopencopter*
build
*.out
hart_val
pressure_plot
*.vtu
*.vtk
*.txt
*.xfi
validation/af_data/afdata_val
*.bl
*.out
*.lock
*.prog
fort.*
__pycache__
DebugInfoForProc_0.dat
cases_*.nam
