.dub
.vscode
*.asm
dub.selections.json
plot_scipt.py
*.png
*.o
wopwop_cases
tilt_rotor*
libopencopter*
build
*.out
hart_val
pressure_plot
*.vtu
*.vtk
*.txt
*.xfi
validation/af_data/afdata_val
*.bl
*.out
*.lock
*.prog
fort.*
__pycache__
DebugInfoForProc_0.dat
cases_*.nam
oc_fly/example/hart_ii/*.pdf
oc_fly/hart_ii/
oc_fly/example/helinovi/*.pdf
oc_fly/archer_midnight/
oc_fly/example/DualProp_json_debug
oc_fly/Prop_wing_interaction/
oc_fly/Prop_wing_interaction_corrected_twist/
oc_fly/Prop_wing_interaction_corrected_twist_2/
oc_fly/Prop_wing_interaction_corrected_twist_3/
oc_fly/Prop_wing_interaction_matching_C_T/
oc_fly/Prop_wing_WO_hinge/
oc_fly/single_rotor/
oc_fly/single_rotor_vsp_rotor_1/
oc_fly/SingleProp_json_debug_EdgewiseStall/
oc_fly/Tandem_rotor_wing_system/
oc_fly/Tandem_rotor_wing_system_no_hinge/
oc_fly/Tandem_rotor_wing_system_no_wing/
oc_fly/Tandem_system_2/
oc_fly/Tandem_system_2_with_hinge/
oc_fly/Tander_system_rotor_only/
*.svg
.DS_Store
oc_fly/example/helinovi/ID*
oc_fly/example/hart_ii/BL
oc_fly/example/hart_ii/MN
oc_fly/example/hart_ii/MV
examples/c/example
examples/cpp/example
.clangd
