.dub
.vscode
*.asm
*.h
dub.selections.json
plot_scipt.py
*.png
*.o
wopwop_cases
tilt_rotor*
libopencopter*
build
*.out
hart_val
pressure_plot
*.vtu
*.vtk
*.txt
*.xfi
validation/af_data/afdata_val
*.bl
*.out
*.lock
*.prog
fort.*
__pycache__
DebugInfoForProc_0.dat
cases_*.nam
oc_fly/example/hart_ii/*.pdf
oc_fly/example/helinovi/*.pdf
*.svg
.DS_Store
oc_fly/rotor_wing
oc_fly/singe_rotor
oc_fly/test_evtol_without_wing
oc_fly/test_evtol_wo_symmetry
oc_fly/Prop_wing_interaction
oc_fly/test_evtol_no_symmetry
oc_fly/VLM_test
oc_fly/Wing_only_simulation
